.paragraphs {
    background-color: $second-background;
    margin: 2em auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-p,
.second-p {
    background-color: white;
    margin: 2em auto;
    padding: 2em 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid $border-color;
    position: relative;
    width: $container-width;

    @media only screen and (min-width: 400px) {
        flex-direction: row;
        justify-content: space-between;
    }

    img {
        width: 15em;
        position: relative;
        z-index: 2;
    }

    .p-second-col {
        width: 50%;
    }

    /*čára pod odstavcem*/
    .p-second-col::after {
        content: "";
        background-color: $main-color;
        width: 15em;
        height: 0.4em;
        position: absolute;
        z-index: 1;
    }
}

.first-p .p-second-col::after {
    background-color: $third-color;
}

/*pseudoelment, zatím nefunguje */
.first-p .p-first-col img::before {
    content: "";
    background-color: $third-color;
    width: 20em;
    height: 20em;

    border-radius: 40px;
    position: absolute;
    transform: rotate(45deg);
    z-index: 1;
}

/*pseudoelment, zatím nefunguje */
.notebook::before {
    content: "";
    width: 10em;
    height: 10em;
    border-radius: 50%;
    background-color: $main-color;
    position: absolute;
}

/*treti odstavec s trumpetou*/
.third-p {
    gap: 1em;
    margin: 0 auto;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: $container-width;

    /*čára za odstavcem*/
    .p-second-col::after {
        content: "";
        background-color: $secondary-color;
        width: 15em;
        height: 0.4em;
        position: absolute;
        z-index: 1;
    }

    .p-second-col {
        background-color: white;
        margin: 2em auto;
        padding: 2em;
        width: calc($container-width*0.5);
        border-radius: 5px;
        border: 1px solid $border-color;
    }
    .trumpet-col {
        background-color: $secondary-color;
        margin: 2em auto;
        padding: 2em;
        width: calc($container-width*0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    
        img {
            width: 14.5em;
        }
    }

    @media only screen and (min-width: 400px) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

}

