.pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: $container-width;
   }
.columns {
    display: flex;
    flex-direction: column;
    @media only screen and (min-width:400px) {
        flex-direction: row;
        justify-content: center;
        gap: 1em;
    }
}

.column {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 2em auto;
    padding: 1.2em;

    @media only screen and (min-width:400px) {
        flex-direction: column;
        gap: 1.2em;
    }    

    .title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        p {
            font-weight: bold;
            font-size: 0.6em;
        }
    }

    ol {
        display: flex;
        flex-direction: column;

        img {
            padding-right: 0.5em;

        }

        li {
            padding: 0.5em;
        }
    }

}

@mixin border-column ($color) {
    border-radius: $rounded-corners;
    border: 0.1em solid $color;

}

.basic {
    padding: 0.7em;

    @include border-column($third-color);

    .btn {
        background-color: $third-color;
        position: absolute;
        top: 90%;
        width: 100%;

    }

    h5 {
        color: $third-color;
    }
}

.professional {
    @include border-column($main-color);

    .btn {
        background-color: $main-color;
        position: absolute;
        top: 90%;
        width: 100%;

    }

    h5 {
        color: $main-color;
    }

    box-shadow: 5px 10px 27px #07ACE629;
}

.premium {
    @include border-column($secondary-color);

    .btn {
        background-color: $secondary-color;
        position: absolute;
        top: 90%;
        width: 100%;
    }

    h5 {
        color: $secondary-color;
    }
}