
$main-color: #08A6E4;
$text-primary-color: black;
$text-secondary-color: #A5A5A5;
$text-btn-color: white;
$secondary-color: #55DFB4;
$third-color: #FB3B64;

$rounded-corners: 40px;
$h-font: "Raleway";
$p-font:"Open Sans";

@mixin btn {
    border-radius: $rounded-corners;
    border: none;
    background-color: $main-color;
    color: $text-btn-color;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: 1em 1.5em ;
    width: 10em;
}

@mixin tablet {
    max-width: 600px;
}

h1 {font-family: $h-font;
    font-weight: normal;
    font-size: 2.5em;
}

h2 {
    font-family: $h-font;
    font-weight: normal;
    font-size: 2em;
}
h3 {
    font-family: $h-font;
    font-weight: bold;
    font-size: 1em;
    letter-spacing: 0.5em;
}