$main-color: #08A6E4;
$text-primary-color: black;
$text-secondary-color: #A5A5A5;
$text-btn-color: white;
$secondary-color: #55DFB4;
$third-color: #FB3B64;
$second-background: #F7F7F7;
$border-color: #E8E9ED;

$rounded-corners: 40px;
$h-font: "Raleway";
$p-font: "Open Sans";
$container-width: 50em;

@mixin btn {
    border-radius: $rounded-corners;
    border: none;
    background-color: $main-color;
    color: $text-btn-color;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: 1em 1.5em;
    width: 20em;
}



* {
    box-sizing: border-box;
    }

body {

    margin: 0;
    /* Zajistíme, že na body nebude žádný margin */
    padding: 0;
    /* Ujistíme se, že na body není žádný padding */
    overflow-x: hidden;
    /* Zabráníme horizontálnímu scrollování */
}

h1 {
    font-family: $h-font;
    font-weight: normal;
    font-size: 2.5em;
}

h2 {
    font-family: $h-font;
    font-weight: normal;
    font-size: 2em;
}

h3 {
    font-family: $h-font;
    font-weight: bold;
    font-size: 1em;
    letter-spacing: 0.5em;
}